<a href="https://colab.research.google.com/github/susmittha21/PROJECT1_Sales_Analysis-/blob/main/PROJECT1_SalesAnalysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

SALES DATA EDA PROJECT

In [96]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import datetime

In [97]:
import pandas as pd

# METHOD 1 : URL
#url = 'https://www.kaggle.com/datasets/vivek468/superstore-dataset-final'
#df = pd.read_csv(url, encoding='ISO-8859-1')  # Important: This encoding handles special characters

# METHOD 2: FILE SELECTOR
from google.colab import files
uploaded = files.upload()
df = pd.read_csv(list(uploaded.keys())[0], encoding='ISO-8859-1')

# DETAILS
print(f"Dataset shape: {df.shape}")
print(df.head())
print(df.info())

Saving Sample - Superstore.csv to Sample - Superstore (1).csv
Dataset shape: (9994, 21)
   Row ID        Order ID  Order Date   Ship Date       Ship Mode Customer ID  \
0       1  CA-2016-152156  11-08-2016  11-11-2016    Second Class    CG-12520
1       2  CA-2016-152156  11-08-2016  11-11-2016    Second Class    CG-12520
2       3  CA-2016-138688  06-12-2016   6/16/2016    Second Class    DV-13045
3       4  US-2015-108966  10-11-2015  10/18/2015  Standard Class    SO-20335
4       5  US-2015-108966  10-11-2015  10/18/2015  Standard Class    SO-20335

     Customer Name    Segment        Country             City  ...  \
0      Claire Gute   Consumer  United States        Henderson  ...
1      Claire Gute   Consumer  United States        Henderson  ...
2  Darrin Van Huff  Corporate  United States      Los Angeles  ...
3   Sean O'Donnell   Consumer  United States  Fort Lauderdale  ...
4   Sean O'Donnell   Consumer  United States  Fort Lauderdale  ...

  Postal Code  Region       Product ID         Category Sub-Category  \
0       42420   South  FUR-BO-10001798        Furniture    Bookcases
1       42420   South  FUR-CH-10000454        Furniture       Chairs
2       90036    West  OFF-LA-10000240  Office Supplies       Labels
3       33311   South  FUR-TA-10000577        Furniture       Tables
4       33311   South  OFF-ST-10000760  Office Supplies      Storage

                                        Product Name     Sales  Quantity  \
0                  Bush Somerset Collection Bookcase  261.9600         2
1  Hon Deluxe Fabric Upholstered Stacking Chairs,...  731.9400         3
2  Self-Adhesive Address Labels for Typewriters b...   14.6200         2
3      Bretford CR4500 Series Slim Rectangular Table  957.5775         5
4                     Eldon Fold 'N Roll Cart System   22.3680         2

   Discount    Profit
0      0.00   41.9136
1      0.00  219.5820
2      0.00    6.8714
3      0.45 -383.0310
4      0.20    2.5164

[5 rows x 21 columns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9994 entries, 0 to 9993
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Row ID         9994 non-null   int64
 1   Order ID       9994 non-null   object
 2   Order Date     9994 non-null   object
 3   Ship Date      9994 non-null   object
 4   Ship Mode      9994 non-null   object
 5   Customer ID    9994 non-null   object
 6   Customer Name  9994 non-null   object
 7   Segment        9994 non-null   object
 8   Country        9994 non-null   object
 9   City           9994 non-null   object
 10  State          9994 non-null   object
 11  Postal Code    9994 non-null   int64
 12  Region         9994 non-null   object
 13  Product ID     9994 non-null   object
 14  Category       9994 non-null   object
 15  Sub-Category   9994 non-null   object
 16  Product Name   9994 non-null   object
 17  Sales          9994 non-null   float64
 18  Quantity       9994 non-null   int64
 19  Discount       9994 non-null   float64
 20  Profit         9994 non-null   float64
dtypes: float64(3), int64(3), object(15)
memory usage: 1.6+ MB
None

In [4]:
df.isnull().sum() # ZERO FOR EVERYTGING AS NO NULL VALUES

Row ID           0
Order ID         0
Order Date       0
Ship Date        0
Ship Mode        0
Customer ID      0
Customer Name    0
Segment          0
Country          0
City             0
State            0
Postal Code      0
Region           0
Product ID       0
Category         0
Sub-Category     0
Product Name     0
Sales            0
Quantity         0
Discount         0
Profit           0
dtype: int64

#-IF MISSING VALUES PRESENT- Handle Missing Data
#### Example: drop rows with any missing values
df = df.dropna()


Or you can fill missing data:


df['Sales'] = df['Sales'].fillna(0)

#-Fix Data Types (especially dates)

In [111]:
print(df.columns)

Index(['Row ID', 'Order ID', 'Order Date', 'Ship Date', 'Ship Mode',
       'Customer ID', 'Customer Name', 'Segment', 'Country', 'City', 'State',
       'Postal Code', 'Region', 'Product ID', 'Category', 'Sub-Category',
       'Product Name', 'Sales', 'Quantity', 'Discount', 'Profit'],
      dtype='object')

In [110]:
import pandas as pd # FOR ORDER DATE AND SHIP DATE

# Load with proper encoding
df = pd.read_csv('Sample - Superstore.csv', encoding='latin-1')

# Convert to datetime (handles mixed formats automatically)
df['Order Date'] = pd.to_datetime(df['Order Date'], format='mixed')
df['Ship Date'] = pd.to_datetime(df['Ship Date'], format='mixed')

# Convert to YYYY-MM-DD string format
df['Order Date'] = df['Order Date'].dt.strftime('%Y-%m-%d')
df['Ship Date'] = df['Ship Date'].dt.strftime('%Y-%m-%d')

In [109]:
df['Order Date'].head(50)
#df['Order Date'].isnull().sum() - TO COUNT NULL VALUES IF ANY

0     2016-11-08
1     2016-11-08
2     2016-06-12
3     2015-10-11
4     2015-10-11
5     2014-06-09
6     2014-06-09
7     2014-06-09
8     2014-06-09
9     2014-06-09
10    2014-06-09
11    2014-06-09
12    2017-04-15
13    2016-12-05
14    2015-11-22
15    2015-11-22
16    2014-11-11
17    2014-05-13
18    2014-08-27
19    2014-08-27
20    2014-08-27
21    2016-12-09
22    2016-12-09
23    2017-07-16
24    2015-09-25
25    2016-01-16
26    2016-01-16
27    2015-09-17
28    2015-09-17
29    2015-09-17
30    2015-09-17
31    2015-09-17
32    2015-09-17
33    2015-09-17
34    2017-10-19
35    2016-12-08
36    2016-12-08
37    2015-12-27
38    2015-12-27
39    2015-12-27
40    2015-12-27
41    2017-09-10
42    2016-07-17
43    2017-09-19
44    2016-03-11
45    2016-03-11
46    2014-10-20
47    2016-06-20
48    2016-06-20
49    2015-04-18
Name: Order Date, dtype: object

In [108]:
df['Ship Date'].head(15)

0     2016-11-11
1     2016-11-11
2     2016-06-16
3     2015-10-18
4     2015-10-18
5     2014-06-14
6     2014-06-14
7     2014-06-14
8     2014-06-14
9     2014-06-14
10    2014-06-14
11    2014-06-14
12    2017-04-20
13    2016-12-10
14    2015-11-26
Name: Ship Date, dtype: object

In [107]:
region_sales = df.groupby('Region')['Sales'].sum().sort_values(ascending=False)
print(region_sales) # TOTAL SALES BY REGION

Region
West       725457.8245
East       678781.2400
Central    501239.8908
South      391721.9050
Name: Sales, dtype: float64